*{
  /*border: solid 2px black;*/
}
body{
  /*border: solid 1px red;
  margin: 0;
  padding: 10px;*/
}
#btn-inicio{
  color: red;
  margin:7px 0px 0px 0px;
}
.aside-margin-top{
  margin: 250px 0px 0px 0px;
}
div.main-info>img{
  display:block;
  margin:0 auto;
  /*-moz-box-shadow: 10px 10px 42px #000000;
  -webkit-box-shadow: 10px 10px 42px #000000;
  box-shadow: 10px 10px 42px #000000;*/
}

.audio-controls{
  padding: 10px;

}

footer{
  padding: 30px;
}
